---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Details from '../components/Details.astro';
import Transportation from '../components/Transportation.astro';
import HotelBlocks from '../components/HotelBlocks.astro';
import RSVP from '../components/RSVP.astro';
import Registry from '../components/Registry.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Katie & Clark - Wedding">
  <Navigation />
  <main>
    <Hero />
    <Details />
    <Transportation />
    <HotelBlocks />
    <RSVP />
    <Registry />
    <FAQ />
  </main>
  <Footer />
</Layout>
